//forcing the toggle button to appear on large screens
@media (min-width: 0) {
    .navbar-toggle {
        display: block;
    }
}

@media (max-width: 992px) {
    #portfolio {
        img {
            width: 100%;
            height: auto;
        }
    }
}