//oswald font ________________________________________________________________________________________

//oswald regular
@font-face {
    font-family: oswald;
    src: url(../fonts/oswald/Oswald-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

//oswald light
@font-face {
    font-family: oswald;
    src: url(../fonts/oswald/Oswald-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

//oswald bold
@font-face {
    font-family: oswald;
    src: url(../fonts/oswald/Oswald-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}



// typography rules __________________________________________________________________________________
html, body {
    color: white;
}

* {
    font-family: inherit;
    color: white;
}

h1, h2 {
    font-family: oswald;
}

p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
}

a, a:hover, a:active {
    color: white;
    text-decoration: none;
}

.btn {
    color: white;
}

.side-icon {
    font-size: 300px;
    line-height: 300px;
    display: block;
    text-align: center;
}

.down-arrow {
    font-size: 24px;
}

blockquote {
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
    color: #333;
    
    & + p {
        font-size: 14px;
        color: #333;
    }
}

// header typography
#header {
    h1 {
        font-weight: 300;
        line-height: 1.4;
    }
    
    .navmenu li {
        a {
            font-size: 18px;
            text-align: left;
            padding-left: 100px;
        }
        
        .fa {
            padding-right: 20px;
        }
    }
}