// imports ___________________________________________________________________________________________
@import "bootstrap";
@import "jasny-bootstrap";
@import "font-awesome/font-awesome";
@import "custom/variables";
@import "custom/typography";
@import "custom/animations";
// general styling ___________________________________________________________________________________
* {
    color: inherit;
    font-size: inherit;
    text-align: inherit;
}

html,
body {
    height: 100%;
}

section {
    padding: 50px 0px;
}

p {
    margin: 0px 0px 15px;
}

.side-icon {
    margin: 150px 0px 0px;
}

// #01 header styling ________________________________________________________________________________
header {
    min-height: 670px;
    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0px;
    .overlay {
        min-height: 670px;
        display: block;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        padding: 250px 0px 60px;
    }
    h1 {
        margin: 0px 0px 95px;
    }
    .btn {
        background: transparent;
        border-radius: 0px;
        &:hover {
            background: white;
            border-color: white;
            color: #333;
        }
    }
    .down-arrow {
        margin: 50px 0px 0px;
    }
}

// fixing right offcanvas sliding issu
.navmenu-fixed-right {
    left: auto !important;
}

.navbar-toggle {
    left: auto !important;
    float: right;
    margin-left: 15px;
}

body.canvas-sliding,
body.canvas-slid {
    left: auto !important;
}

// navbar styling
.navbar {
    background: rgba(0, 0, 0, 0);
    height: $heightNavbar;
    border: none;
    .navbar-brand {
        padding-top: 30px;
        transition: padding $transitionDelay;
        img {
            height: 35px;
            width: auto;
        }
    }
    .navbar-toggle {
        margin-top: 30px;
        border-radius: 0px;
        transition: margin $transitionDelay;
        .icon-bar {
            background: white;
        }
    }
}

.navbar.sticky {
    background: rgba(0, 0, 0, 0.5);
    .navbar-brand {
        padding-top: 13px;
        img {
            width: auto;
        }
    }
    .navbar-toggle {
        margin-top: 13px;
        border-radius: 0px;
        .icon-bar {
            background: white;
        }
    }
}

.navmenu {
    width: 250px;
    img {
        height: 35px;
    }
    li {
        a {
            padding-left: 50px;
        }
        a:hover,
        a:active {
            background: grey;
        }
        .fa {
            padding-right: 20px;
        }
    }
}

// #02 about section styling _________________________________________________________________________
#about {
    hr {
        border-top-color: #333;
    }
    color: #333;
    background: white;
    padding: 50px 0px;
}

// #03 skills & community sections styling ___________________________________________________________
#skills,
#community {
    color: #333;
    hr {
        border-top-color: #333;
    }
    .col-md-4 {
        display: block;
    }
    .thumbnail {
        display: block;
        width: $thumbnailSize;
        height: $thumbnailSize;
        margin: 30px auto 0px;
        padding: $thumbnailPadding;
        border: none;
        border-radius: 50%;
        border-color: #333;
        img {
            height: 100%;
        }
    }
    p {
        margin: 20px 0px 0px;
    }
}

#skills {
    background: #eee;
    .col-xs-6 {
        padding: 0px;
    }
    .thumbnail {
        background: transparent;
        padding: 10px 0px;
    }
}

#community {
    background: #d0d0d0;
    .thumbnail {
        padding: 25px;
    }
    .freecodecamp {
        background: #006400;
    }
    .github {
        padding: 0px;
        background: transparent;
    }
    .non-profits {
        border: 2px solid #06654C;
    }
}

// #04 portfolio section styling _____________________________________________________________________
#portfolio {
    background: #555;
    .thumbnail {
        border-radius: 0px;
        padding: 0px;
        height: 160px;
        overflow: hidden;
    }
    img {
        width: auto;
        height: 100%;
        transition: all 1s;
        &:hover {
            transform: scale(1.2);
        }
    }
}

// #05 contact section _______________________________________________________________________________
#contact {
    background: #222;
    ul {
        padding: 0px;
    }
    li {
        display: inline-block;
        font-size: 36px;
        margin: 0px;
        padding: 0px;
        height: 50px;
        width: 50px;
    }
    li {
        margin: 0px 10px;
    }
    a {
        display: block;
        transition: all 0.7s;
        border-radius: 50%;
        &:hover {
            background: white;
        }
    }
    .phone:hover {
        color: black;
    }
    .email:hover {
        background: #DD5044;
    }
    .facebook:hover {
        background: #4862A3;
    }
    .twitter:hover {
        color: #1DA1F2;
    }
    .linkedin:hover {
        background: #0177B5;
    }
    .github:hover {
        color: black;
    }
    .bitbucket:hover {
        color: #215282;
    }
    .stackoverflow:hover {
        color: #F48024;
    }
    .freecodecamp {
        img {
            height: 40px;
            vertical-align: text-bottom;
        }
        &:hover {
            background: #006400;
        }
    }
}

// importing media queries ________________________________________________________________________
@import "custom/media-queries";